.main {
  height: 100vh;
  width: 100vw;
}
.heading {
  margin-top: 3vh;
  margin-left: 3vh;
  & h1 {
    color: #000;
    font-family: Roboto;
    font-size: 31.52px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.63px;
  }
}
.createnotebtn {
  height: 6.5vh;
  padding-inline: 3vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 3vh;
  border-radius: 50px;
  background: #000;
  color: #fff;
  font-family: Roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 97.688%; /* 26.376px */
  letter-spacing: 0.54px;
}
.popup {
  /* position: absolute;
  left:-18vh;
  top:15vh; */
  display: flex;
  flex-direction: column;
  margin-top: 60vh;
  justify-content: center;
  align-items: center;
  padding-inline: 1vh;
  width: 80vw;
  height: 50vw;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: #FFFFFF;

  & h2 {
    color: #000;
    font-family: Roboto;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 500;
    line-height: 160.188%; /* 46.454px */
    letter-spacing: 1.015px;
    margin-bottom: 1.5vh;
  }
  & label {
    color: #000;
    font-family: Roboto;
    font-size: 2vh;
    font-style: normal;
    font-weight: 500;
    line-height: 160.188%; /* 43.754px */
    letter-spacing: 0.956px;
  }
}
.transparent{
  background-color:  rgba(47, 47, 47, 0.75);;
  height: 103vh;
  width: 100vw;
  z-index: 100;
  position: absolute;
  top:0;
}
.inputhead {
  height: 2vh;
  width: 40vw;
  padding: 0.2vh;
  padding-left: 0.5vh;
  border-radius: 1vh;
  border: 2px solid #ccc;
  background: #fff;
  margin-left: 1vh;
  font-family: Roboto;
  font-size: 1.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: 160.188%; /* 36.843px */
  letter-spacing: 0.805px;
}
.clr1 {
  background-color: #b38bfa;
  border-radius: 100%;
  height: 3vh;
  width: 3vh;
  margin-left: 0.5vh;
}
.clr2 {
  background-color: #ff79f2;
  border-radius: 100%;
  height: 3vh;
  width: 3vh;
  margin-left: 0.5vh;
}
.clr3 {
  background-color: #43e6fc;
  border-radius: 100%;
  height: 3vh;
  width: 3vh;
  margin-left: 0.5vh;
}
.clr4 {
  background-color: #f19576;
  border-radius: 100%;
  height: 3vh;
  width: 3vh;
  margin-left: 0.5vh;
}
.clr5 {
  background-color: #0047ff;
  border-radius: 100%;
  height: 3vh;
  width: 3vh;
  margin-left: 0.5vh;
}
.clr6 {
  background-color: #6691ff;
  border-radius: 100%;
  height: 3vh;
  width: 3vh;
  margin-left: 0.5vh;
}
.rowclr {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & button {
    border: none;
  }
}
.highlightbtn {
  border: 2px solid black !important;
}
.popbtn {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 2vh;
  & button {
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-family: Roboto;
    width: 25vh;
    height: 4vh;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160.188%; /* 32.038px */
    letter-spacing: 0.7px;
  }
}
